mixin product__item(data)
    each item in data.items
        li.product__item
            .product__item_left
                a.product__item_title(href = "#{item.href}") #{item.title}
                p.product__item_region #{item.region1}
                p.product__item_region #{item.region2}
                p.product__item_region #{item.region3}
                //- p.product__item_name #{item.name}
                //- p.product__item_phone #{item.phone}
            .product__item_right
                ul.parameters
                    li.parameters__item
                        p.parameters__item_text.price Поточна ціна: 
                            a.parameters__item_link.price(href="#") #{item.price}
                    li.parameters__item
                        p.parameters__item_text.little * Ціни вказані з ПДВ
                    li.parameters__item
                        p.parameters__item_text Кількість: 
                            a.parameters__item_link(href="#") #{item.weight}
                    li.parameters__item
                        p.parameters__item_text Ставки: 
                            a.parameters__item_link(href="#") 35
                    li.parameters__item
                        p.parameters__item_text Залишилось днів: 
                            a.parameters__item_link(href="#") 3
                    li.parameters__item
                        p.parameters__item_text Комeнтарі: 
                            a.parameters__item_link.comments(href="#") 7
            .product__item_down
                ul.cities
                    li.cities__item
                        p.cities__text #{item.cities__text1}
                        p.cities__button #{item.cities__button1}
                    li.cities__item
                        p.cities__text #{item.cities__text2}
                        p.cities__button #{item.cities__button2}
                    li.cities__item
                        p.cities__text #{item.cities__text3}
                        p.cities__button #{item.cities__button3}
            a.product__item_button(href="#") Детальніше
                
        
